.titleSeriesItem,.textDescriptionSeries >p,.textDescriptionContainer > p,h3 ,span{

    font-family: 'Pattaya', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
    
    background-color: #000000;
}
main{
    margin-bottom: 10%;
}


header div{
    background-color: black;

}

.titleSeriesItem{

    font-size: 20px; 
    text-align: center;
}

.material-icons-outlined{

    color: white;
}

p, li {

    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: white;
    font-family: 'Jost', sans-serif;    
}

#headerPicture{

    width: 100%;

}

.iframeVideo{

    display: block;
    background: #000;
    border: none;
    height: 438px;
    width: 100%;
}

/*#seriesContainer{

    display: flex;
    flex-wrap: nowrap;
}*/

#seriesContainer div{
    margin: 2px auto;
}

.imgSeries{

    width: 100%;
    height: 270px;
}

.seriesItem{
    width: 50%;
    border-radius: 10px;
    padding: 2px;
    background-color: rgba(5, 5, 5, 0.904);
}
.seriesItem > a > img{
    border-radius: 10px;    
}

.divEpisodeContainer{

    margin: 0 5%;    
}

.episodeHeaderImg{

    width: 100%;
    //height: 310px;
    box-shadow: 0px 5px 9px #ffffff78;

}

.episodeHeaderImg{
    max-width: 100%;
}

.episodeImg{
    width: 100%;
}

.episodePhotoContainer{

    margin: 2%;
}

.episodeTextContainer{
    padding: 0 2%;
}

.episodeTextContainer > h3{

    font-size: 20px;
    color:white;
}

.list-item{
    margin-bottom: 3%;
}

.zoom{

    transition: transform .2s;
}

.zoom:hover {
    -webkit-box-shadow: 1px -1px 9px 4px #c33942;
    -ms-box-shadow: 1px -1px 9px 4px #c33942;
    -ms-transform: scale(1.18); /* IE 9 */
    -webkit-transform: scale(1.18); /* Safari 3-8 */
    transform: scale(1.18); 
    z-index: 2;
}

.episodePhotoContainer:hover{

    border-color: white;
}
  
#descriptionSeries{
    padding: 4% 0px;
}  

.textDescription{

    text-align: center;
}

.textDescriptionContainer > p{

    font-size: 3em;
}

.textDescriptionSeries{

    padding: 8% 3% 0% 3%;
}

.textDescriptionSeries >p {

    font-size: 2em;
}

.homeBtn{

    margin: 2%;    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1021; 
    background-color: black;
}

.homeBtn > a{

    margin: 0 1%;
    text-decoration: none;
}

.homeBtn > a:hover{

    font-size: 20px ;
    z-index: 1;
}

footer > div{

    text-align: center;    
}

footer{
    
    height: 13vh;
    background-color:rgba(22, 22, 22, 0.938);
    color: white;

}

footer > p{
    
    margin: 0;
}
@media(min-width:426px )and (max-width: 991px){

    .textDescriptionContainer p {
        font-size: 171% !important;
    }
}

@media(min-width:992px ){

    header .container > div{        
        height: 435px;
    }
}

@media(min-width: 768px){
    .divEpisodeContainer{
        max-width: 79%;
        margin: auto;
    }
    .list-item > div{
        padding: 0 7%;
    }

}
@media(min-width: 426px){

    main{
        padding: 0 20px;
    }
    #headerPicture{  
        height: 341px;
    }
    
}
@media(max-width: 796px){
    .iframeVideo{
        height: 207px;
    }
}
@media(max-width: 425px){
    main{
        padding: 0;
    }
    #headerPicture{   
        height: 278px;
    }

    .textDescriptionContainer p {
        font-size: 17px;
    }

    #descriptionSeries{
        padding: 0;
    }
    .imgSeries{
        height: 159px;
    }
    .textDescriptionSeries >p {
        font-size: 1.3em;
    }
    .episodeHeaderImg {
        max-width: 100%;
        height: 173px;
    }
    .episodeTextContainer{
        text-align: center;
        padding: 0 9%;
    }
    .episodeTextContainer p{
        font-size: 12px;
        line-height: 1.5;
    }
    .sticky-section{
        position: -webkit-sticky;
        position: sticky;
        top: 24px;
        z-index: 1020;    
    }
    header{
        margin-bottom: 23%;
    }
    
}